<div class="voter-thanks-fill bg-parallax bg-skill" style="background-image: url('<%= asset_path('bg-service.jpg') %>');">
  <div class="fill-wrapper">
      <div class="section-title">
          <h2 class="animated fadeInDown" data-effect="fadeInDown"><strong>THANK YOU FOR VOTING!</strong></h2>
          <hr class="title-break">
      </div>
    </div>

</div>


