/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *\
 *= require jquery.countdown
 *= require bootstrap.min
 *= require font-awesome
 *= require zocial
 *= require venobox
 *= require og-component
 *= require animate
 *= require style-light
 *= require color
 *= require_tree .
 */

.fill-wrapper {
    padding: 100px 0 0 0;
}

.flash {
  position: relative;
  top: 44px;
  width: 100%;
  text-align: center;
 }

#wrapper {
    text-align: center;
}

#center-wrapper {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

.home-icon {
    color: black;
}

.home-icon:hover {
    color: #4cddf3;
}

.header-center a.sscroll {
  border: 2px solid black;
}

.first_timer {
    padding-top: 200px;
    text-align: center;
    background: #F7F7F7;
    height: 100%;
}

.slides-navigation.polls {
    margin: 0 auto;
    z-index: 3;
    /*top: 46%;*/
    bottom: 50px;
    width: 100%;
    outline: 0;
}

.slides-navigation.polls a {
    display: block;
    width: 56px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    /*background: white;*/
    /*color: #5a966e;*/
    color: white;
    outline: 0;
}

.slides-navigation.polls a.prev {
  position: absolute;
  border: 0px solid #1d2023;
  padding-right: 5px;
    border-right: 0px solid #1d2023;
    left: -150px;
    bottom: 80px;
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}
.slides-navigation.polls a.next {
   position: absolute;
    bottom: 60px;
    border: 0px solid #1d2023;
    padding-left: 5px;
    border-left: 0px solid #1d2023;
    right: -10px;
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}

.slides-navigation.polls a:hover {
    background: none;
    color: black;
}

.forms-font{
    font-size: 22px;
    font-weight: 300;
    font-family: Roboto;
    color: #1d2023;
    padding: 0px;
}

.slides-navigation.polls.exp a.prev {
 position: absolute;
  border: 0px solid #1d2023;
  padding-right: 5px;
    border-right: 0px solid #1d2023;
    left: -150px;
    bottom: 35px;
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}

.slides-navigation.polls.op a.prev {
 position: absolute;
  border: 0px solid #1d2023;
  padding-right: 5px;
    border-right: 0px solid #1d2023;
    left: -140px;
    bottom: 85px;
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset -1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}

.slides-navigation.polls.op a.next {
   position: absolute;
    bottom: 85px;
    border: 0px solid #1d2023;
    padding-left: 5px;
    border-left: 0px solid #1d2023;
    right: -10px;
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    -moz-box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset 1px 0px 0px 0px rgba(255, 255, 255, 0.05);
}

.voter-thanks-fill {
    height: 100%;
}

.navbar .navbar-brand {
    color: #25292c;
    background: #5a966e;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.main-color {
    color: #5a966e;
}

.row {
    text-align: center;
}

/* Voting options */
.opt-btn {
    margin: 0 auto;
    padding: 5px 15px;
    background-color: #5a966e;
    border: 2px solid #5a966e;
    border-radius: 3px;
    width: 404px;
}

.opt-txt {
    font-size: 22px;
    font-weight: 300;
    color: #FFF; 
}

.opt-txt label {
    margin: 0;
}

/* Countdown timer*/
#timer-wrapper {
    width: 100%;
    text-align: center;
}

#timer {
    display: inline-block;
    margin: 0 auto;
}

#timer h3 {
    float: left;
    font-weight: normal;
    position: relative;
    top: 14px;
}
.countdown {
    float: left;
}

.styled div {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    text-align: center; 
    color: #25292c;
    margin: 5px 0;
    padding: 15px 0 0 0;
}

.styled div span {
    display: block;
    width: 60px;
    font-size: 17px;
    font-weight: normal;
    text-transform: lowercase;
    text-align: center;
    color: black;
    background: none;
    text-shadow: none;
    margin-top: 0px;
    padding: 0 0;
}