#poll {
    text-align: center;
}

#poll .btn {
    margin: 50px auto;
}

img[src*="filepicker"] {
    margin: 0 12px 12px 12px;
    border: 2px solid #25292c;
    border-radius: 3px;
}

hr.title-break {
    margin: 40px auto 50px auto;
}

