<footer class="footer white">
  <p>made with ♥ by the picklebacks</p>
    <div>[
      <a href="http://fellows.flatironschool.com/students/emily_simonton.html" target="_blank">emily simonton</a>, 
      <a href="http://fellows.flatironschool.com/students/erica_cheung.html" target="_blank">erica cheung</a>, 
      <a href="http://fellows.flatironschool.com/students/janel_dibiccari.html" target="_blank">janel dibiccari</a>, 
      <a href="http://fellows.flatironschool.com/students/sam_blake.html" target="_blank">sam blake</a> ]
    </div>
  <p>2014 at <a href="http://flatironschool.com" target="_blank">the flatiron school</a></p>
</footer>
